
name: FASTEN_CI

on: [push, pull_request]

env:
  MPS_VER: "2020.3"
  GITHUB_ACTOR: ${{ github.actor }}
  GITHUB_TOKEN: ${{ secrets.FASTEN_GITHUB_PKG_REGISTRY }}

jobs:
  build_fasten_distribution_and_perform_checks:
    runs-on: ubuntu-latest
    env:
      DISPLAY: ':99'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Gradle
      run: |
        chmod +x ./gradlew
        chmod +x ./rcp_resources/external_tools/nusmv
        echo "$(pwd)/rcp_resources/external_tools" >> $GITHUB_PATH
        
    - name: Setup headless environment
      run: |
        Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
       
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11  
        
    - name: Build FASTEN
      uses: gradle/gradle-build-action@v1.3.3
      with: 
        arguments: -b build_ci_github.gradle package_fasten_safety_distribution_win -Pgpr.user=${{github.actor}} -Pgpr.token=${{ secrets.GITHUB_TOKEN }}
        wrapper-cache-enabled: true
        dependencies-cache-enabled: true
        dependencies-cache-key: gradle/dependency-locks/**
        dependencies-cache-exact: true
        configuration-cache-enabled: true
        gradle-executable: /home/runner/work/mbeddr.formal/mbeddr.formal/gradlew

    - name: Check Consistency of the FASTEN-NuSMV Tutorial 
      uses: gradle/gradle-build-action@v1.3.3
      with:
        arguments: -b check_tutorial_nusmv.gradle 
        wrapper-cache-enabled: true
        dependencies-cache-enabled: true
        dependencies-cache-key: gradle/dependency-locks/**
        configuration-cache-enabled: true
        gradle-executable: /home/runner/work/mbeddr.formal/mbeddr.formal/gradlew

    - name: Check Consistency of the FASTEN-Safety Tutorial
      uses: gradle/gradle-build-action@v1.3.3
      with:
        arguments: -b check_tutorial_safety.gradle
        wrapper-cache-enabled: true
        dependencies-cache-enabled: true
        dependencies-cache-key: gradle/dependency-locks/**
        configuration-cache-enabled: true
        gradle-executable: /home/runner/work/mbeddr.formal/mbeddr.formal/gradlew
        
    - name: Run Tests
      uses: gradle/gradle-build-action@v1
      with: 
        arguments: run_all_tests 
        wrapper-cache-enabled: true
        dependencies-cache-enabled: true
        dependencies-cache-key: gradle/dependency-locks/**
        configuration-cache-enabled: true    
        gradle-executable: /home/runner/work/mbeddr.formal/mbeddr.formal/gradlew

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v2
      with:
        fail_on_failure: true
        report_paths: 'build/**/TEST*.xml'
        github_token: ${{ secrets.GITHUB_TOKEN }}
    #- name: Publish to Github Maven
    #  uses: gradle/gradle-build-action@v1.3.3
    #  with: 
    #    arguments: publishNuSMVLanguagesPublicationToGitHubPackagesRepository -Pgpr.user=${{github.actor}} -Pgpr.token=${{ secrets.GITHUB_TOKEN }}
    #    wrapper-cache-enabled: true
    #    dependencies-cache-enabled: true
    #    dependencies-cache-key: gradle/dependency-locks/**
    #    dependencies-cache-exact: true
    #    configuration-cache-enabled: true
    #    gradle-executable: /home/runner/work/mbeddr.formal/mbeddr.formal/gradlew
    - name: Get Current Time
      id: time
      uses: nanzm/get-time-action@v1.1
      with:
        timeZone: 2
        format: 'YYYY-MM-DD-HH-mm'
    #- name: Debug Directory Layout
    #  run: |
    #    ls -alR build/artifacts/com.mbeddr.formal.safetyDistribution    
    - name: Archive distribution
      uses: actions/upload-artifact@v2
      with:
        name: fasten-distribution-win-2020.3-${{ steps.time.outputs.time }}
        path: build/distributions/fasten-2020.3-SNAPSHOT-Win-2020.3-SNAPSHOT.zip


  build_fasten_assurance_package:
    runs-on: ubuntu-latest
    env:
      DISPLAY: ':99'

    steps:
    - uses: actions/checkout@v2

    - name: Set up Gradle
      run: |
        chmod +x ./gradlew
        
    - name: Setup headless environment
      run: |
        Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
       
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11  
        
    - name: Build FASTEN Assurance Distribution
      uses: gradle/gradle-build-action@v1.3.3
      with: 
        arguments: -b build_fasten_assurance.gradle package_assurance -Pgpr.user=${{github.actor}} -Pgpr.token=${{ secrets.GITHUB_TOKEN }}
        wrapper-cache-enabled: true
        dependencies-cache-enabled: true
        dependencies-cache-key: gradle/dependency-locks/**
        dependencies-cache-exact: true
        configuration-cache-enabled: true
        gradle-executable: /home/runner/work/mbeddr.formal/mbeddr.formal/gradlew