
name: FASTEN_CI

on: [push, pull_request]

env:
  MPS_VER: "2020.2"
  MPS_ZIP: "http://download.jetbrains.com/mps/2020.2/MPS-2020.2.2.zip"
  JBR: "https://bintray.com/jetbrains/intellij-jbr/download_file?file_path=jbr-11_0_7-windows-x64-b765.57.tar.gz"
  FASTEN_DISTRIBUTION_PACKAGE: "/home/runner/work/mbeddr.formal/mbeddr.formal/build/artifacts/com.mbeddr.formal.safetyDistribution/fasten-1.0-SNAPSHOT.zip"
  FASTEN_DISTRIBUTION_DIR: "/home/runner/work/mbeddr.formal/mbeddr.formal/build/fasten-1.0-SNAPSHOT"
  ANALYZERS_DIR: "/home/runner/work/mbeddr.formal/mbeddr.formal/rcp_resources/external_tools"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DISPLAY: ':99'

    steps:
    - uses: actions/checkout@v2

    - name: Download MPS
      run: |
        echo "Downloading MPS"
        echo ${MPS_ZIP}
        curl -L ${MPS_ZIP} > "MPS.zip"
        
        echo "Unzipping MPS"
        unzip -o "MPS.zip" -d ~
        
        echo "Creating symbolic link to MPS folder"
        ln -s '/home/runner/MPS ${MPS_VER}'/ MPS
        
        echo "Downloading JBR - JetBrainsRuntime"
        curl -L ${JBR} > "jbr.tar.gz"
        
        echo "Extracting JBR to MPS folder"
        tar -C '/home/runner/MPS '${MPS_VER}'/' -zxvf "jbr.tar.gz"
                
    - name: Change FASTEN config
      run: |
        echo "Changing config"
        echo "mpsHomeDir=/home/runner/MPS "${MPS_VER} > gradle.properties
        echo "mps.home=/home/runner/MPS "${MPS_VER} >> gradle.properties
        echo "mbeddr.formal.home=/home/runner/work/mbeddr.formal" >> gradle.properties
        
        echo "Gradle Properties:"
        cat gradle.properties

    - name: Set up Gradle
      run: |
        chmod +x ./gradlew
        
    - name: Setup headless environment
      run: |
        Xvfb :99 -screen 0 1024x768x24 > /dev/null 2>&1 &
       
    - name: Set up JDK 11
      uses: actions/setup-java@v1
      with:
        java-version: 11  
        
    - name: Build FASTEN
      uses: eskatos/gradle-command-action@v1
      with: 
        wrapper-cache-enabled: true
        dependencies-cache-enabled: true
        configuration-cache-enabled: true
        gradle-executable: /home/runner/work/mbeddr.formal/mbeddr.formal/gradlew

    - name: Check Consistency of the FASTEN-NuSMV Tutorial
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: -b check_tutorial_nusmv.gradle
        wrapper-cache-enabled: true
        dependencies-cache-enabled: true
        configuration-cache-enabled: true
        gradle-executable: /home/runner/work/mbeddr.formal/mbeddr.formal/gradlew

    - name: Check Consistency of the FASTEN-Safety Tutorial
      uses: eskatos/gradle-command-action@v1
      with:
        arguments: -b check_tutorial_safety.gradle
        wrapper-cache-enabled: true
        dependencies-cache-enabled: true
        configuration-cache-enabled: true
        gradle-executable: /home/runner/work/mbeddr.formal/mbeddr.formal/gradlew
        
    - name: Run Tests
      uses: eskatos/gradle-command-action@v1
      with: 
        arguments: run_all_tests
        wrapper-cache-enabled: true
        dependencies-cache-enabled: true
        configuration-cache-enabled: true    
        gradle-executable: /home/runner/work/mbeddr.formal/mbeddr.formal/gradlew

    - name: Publish Test Report
      uses: mikepenz/action-junit-report@v2
      with:
        fail_on_failure: true
        report_paths: 'build/**/TEST*.xml'
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Archive distribution
      uses: actions/upload-artifact@v1
      with:
        name: fasten-distribution
        path: build/artifacts/com.mbeddr.formal.safetyDistribution/fasten-1.0-SNAPSHOT.zip
