name: CI

on:
  push:
    branches:
      - master
      - 'maintenance/*'
  pull_request:
  workflow_dispatch:
    inputs:
      publish:
        description: Whether to publish the build result to Maven repositories
        type: boolean
        default: 'false'
        required: false
      publish_rcp:
        description: Whether to publish the RCP to Github packages
        type: boolean
        default: 'false'
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v6

    - name: Set up Gradle
      run: |
        echo "$(pwd)/rcp_resources/external_tools" >> "$GITHUB_PATH"

    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 21

    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Install Python Packages
      run: |
        pip install junitparser

    - name: Build Languages
      run: |
        xvfb-run ./gradlew build_all_languages \
          -Pgpr.user=${{github.actor}} -Pgpr.token=${{ secrets.GITHUB_TOKEN }}

    - name: Run migrations
      run: |
        ./gradlew migrate remigrate -x build_all_languages \
          -Pgpr.user=${{github.actor}} -Pgpr.token=${{ secrets.GITHUB_TOKEN }}

    - name: Check for dirty files
      run: |
        if [[ -n $(git status --porcelain | head --lines=1) ]]
        then
          echo "Dirty files detected after build/migration, run './gradlew migrate remigrate' and/or update .gitignore to fix:"
          git status
          echo "::group::git diff"
          git diff
          echo "::endgroup::"
          exit 1
        fi

    - name: Check Models
      run: |
        xvfb-run ./gradlew check -x build_all_languages \
          -Pgpr.user=${{github.actor}} -Pgpr.token=${{ secrets.GITHUB_TOKEN }}

    - name: Publish test report
      uses: mikepenz/action-junit-report@v4
      if: ${{ !cancelled() }}
      with:
        fail_on_failure: true
        require_tests: true
        report_paths: 'build/**/TEST*.xml'
        github_token: ${{ secrets.GITHUB_TOKEN }}

    - name: Upload logs on failure
      if: failure()
      uses: actions/upload-artifact@v4
      with:
        name: logs
        path: |
          build/system/log/
          build/system/testlog/
          build/tmp/check*/system/log/

  publish:
    # Only publish on push (to maintenance or master) or on dispatch if requested
    if: ${{ github.event_name == 'push' || (github.event_name == 'workflow_dispatch' && inputs.publish == 'true') }}
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 21

    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Publish
      continue-on-error: true
      run: |
        ./gradlew publish --continue \
          -Pgpr.user=${{ github.actor }} \
          -Pgpr.token=${{ secrets.GITHUB_TOKEN }} \
          -Partifacts.itemis.cloud.user=${{ secrets.ARTIFACTS_ITEMIS_CLOUD_USER }} \
          -Partifacts.itemis.cloud.pw=${{ secrets.ARTIFACTS_ITEMIS_CLOUD_PW }}

  publish_rcps:
    # Only publish on push (to maintenance or master) or on dispatch if requested
    if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.publish_rcp == 'true' }}
    permissions:
      contents: read
      packages: write
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6

    - name: Set up JDK 21
      uses: actions/setup-java@v5
      with:
        distribution: 'temurin'
        java-version: 21

    - name: Set up Gradle
      uses: gradle/actions/setup-gradle@v5

    - name: Publish FASTEN-Windows RCP to Github Packages
      run: |
        ./gradlew publishFASTEN_WIN_RCPPublicationToGitHubPackagesRepository \
          -Pgpr.user=${{ github.actor }} \
          -Pgpr.token=${{ secrets.GITHUB_TOKEN }} \

    - name: Publish FASTEN-Linux RCPs to Github Packages
      run: |
        ./gradlew publishFASTEN_LINUX_RCPPublicationToGitHubPackagesRepository -x package_fasten_distribution_for_specific_platforms \
          -Pgpr.user=${{ github.actor }} \
          -Pgpr.token=${{ secrets.GITHUB_TOKEN }} \

    - name: Publish FASTEN-MacOS RCPs to Github Packages
      run: |
        ./gradlew publishFASTEN_MACOS_RCPPublicationToGitHubPackagesRepository \
          -Pgpr.user=${{ github.actor }} \
          -Pgpr.token=${{ secrets.GITHUB_TOKEN }} \

